html {
    color: #000;
    background-color: #fff;
}

p {
    display: block;
    margin-top: 5em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-transform: uppercase;
    color: blue;
}